.history {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.history__title {
  margin: 0 auto;
  font-size: 1.2rem;
}

.history__item {
  position: relative;
  width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  column-gap: 1rem;
  color: var(--color100);
  border: var(--border-thickness) solid var(--color40);
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--color10);
}

.history__url,
.history__client_link {
  overflow-wrap: anywhere;
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
  }
}

.history__empty {
  margin: 1rem auto;
}

.history__remove {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  transition: background-color 0.25s linear;
  cursor: pointer;

  &:hover {
    background-color: var(--color40);
  }
}

.history__remove img {
  display: block;
  filter: invert(var(--color-scheme));
}

.history__clear {
  position: absolute;
  right: 0.5rem;
}

.get {
  color: var(--code-number);
}

.post {
  color: var(--color-post-method);
}

.put {
  color: var(--code-tag);
}

.patch {
  color: var(--color-patch-method);
}

.delete {
  color: var(--code-string);
}
