.history {
  margin: 0 auto;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.history__title {
  margin: 1rem auto;
  font-size: 1.2rem;
}

.history__item {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  column-gap: 1rem;
  color: var(--color100);
  border: 1px solid var(--color40);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--color10);
}

.history__url,
.history__client_link {
  overflow-wrap: anywhere;
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
  }
}

.history__empty {
  margin: 1rem auto;
}

.history__pagination {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
}

.history__page {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 0.375rem;
  border: 2px solid var(--color40);
  color: var(--color100);
  background-color: var(--color10);
  transition: background-color 0.25s linear;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.history__page::after {
  content: '';
  position: absolute;
  top: -0.1rem;
  right: -0.1rem;
  display: block;
  width: 2rem;
  height: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  filter: invert(var(--color-scheme));
}

.history__page.prev::after {
  background-image: url('/icons/prev.svg');
}

.history__page.next::after {
  background-image: url('/icons/next.svg');
}

@media (hover: hover) {
  .history__page:hover {
    background-color: var(--color20);
    border-color: var(--color50);
  }

  .history__page:disabled:hover {
    background-color: var(--color10);
    border-color: var(--color40);
  }
}
