.button {
  position: relative;
  display: inline-flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
  border: none;
  border: 2px solid var(--color40);
  border-radius: var(--border-radius);
  background-color: var(--color10);
  cursor: pointer;
  transition:
    background-color 0.25s linear,
    border-color 0.25s linear;
}

.button_active {
  background-color: var(--color50);
}

.button:disabled {
  background-color: var(--color20);
  color: var(--color70);
  cursor: auto;
}

.button img {
  width: 1.5em;
  height: 1.5em;
  filter: invert(var(--color-scheme));
}

.button_loader {
  width: 1em;
  height: 1em;
  animation: spin 1s linear infinite;
  background-image: url('/icons/loader.svg');
  background-size: cover;
  filter: invert(var(--color-scheme));
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--color20);
    border-color: var(--color50);
  }

  .button:disabled:hover {
    background-color: var(--color20);
    color: var(--color70);
  }
}

.copy__msg {
  font-size: 0.75rem;
  background-color: var(--color50);
  text-align: center;
  border-radius: 6px;
  padding: 0.25rem 0.75rem;
  position: absolute;
  z-index: 2;
  left: 0.75rem;
  top: -2rem;
  opacity: 0;
  animation: show 2.5s forwards;
  transform: translateX(-50%);
}
.copy__msg::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color50) transparent transparent;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate(-50%, 1rem);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
  }
}
