.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.error__name {
  margin: 0 5%;
  align-self: flex-start;
  color: var(--color-accent50);
}

.error__stack {
  width: 90%;
  height: 20rem;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid var(--color40);
  border-radius: 0.5rem;
  background-color: var(--color10);
  resize: none;
}
