.variables {
  margin: 0 auto;
  padding: 1rem;

  max-width: 60rem;
}

.variables__title {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.variables__table {
  border-radius: var(--border-radius);
  border: var(--border-thickness) solid var(--color30);
  overflow: hidden;
}

.variables__row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color100);
  background-color: var(--color10);
}

.variables__row:not(:last-of-type) {
  border-bottom: 1px solid var(--color30);
}

.variables__item,
.variables__add {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem;
}

.variables__item:not(:last-of-type) {
  border-right: 1px solid var(--color30);
}

.variables__item input[type='text'] {
  width: 100%;
  padding-right: 2.3rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
  color: inherit;
}

.variables__remove {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  border-radius: 0.375rem;
  transition: background-color 0.25s linear;

  &:hover {
    background-color: var(--color20);
  }
}

.variables__remove img {
  filter: invert(var(--color-scheme));
}

.variables__add {
  cursor: pointer;
  transition: background-color 0.25s linear;

  &:hover {
    background-color: var(--color20);
  }
}
