.language__selector {
  position: relative;
  display: inline-block;
  appearance: none;
  box-sizing: content-box;
  padding: 2px;
  width: 3em;
  height: 1.1em;
  border-radius: 1em;
  background-color: var(--color50);
}

.language__switcher {
  position: absolute;
  margin: 0;
  padding: 2px 0 0 1.5rem;
  outline: none;
  appearance: none;
  font-size: 0.8em;
  width: calc(100% - 4px);
  height: 1.1em;
  border: inherit;
  border-radius: 1em;
  background-color: var(--color50);
  background-repeat: no-repeat;
  background-size: 1em auto;
  background-position: 0.4em 0.3em;
  cursor: pointer;
  z-index: 1;

  &.en {
    background-image: url('/icons/en.svg');
  }

  &.ru {
    background-image: url('/icons/ru.svg');
  }
}
