.language__select {
  padding: 0 0.6rem;
  border: 2px solid var(--color50);
  border-radius: 1rem;
  background-color: var(--color10);
  color: var(--color100);
  font-size: 1rem;
  transition:
    background-color 0.25s linear,
    border-color 0.25s linear;

  &:hover {
    border-color: var(--color60);
    background-color: var(--color20);
  }
}
