@import url('./colors.css');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color100);
  background-color: var(--color00);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 640px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  :root {
    font-size: 10px;
  }
}

body {
  position: relative;
  margin: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1rem 1rem 3.5rem;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  flex-grow: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

.button {
  box-sizing: border-box;
  color: var(--color100);
  text-decoration: none;
  border-radius: var(--border-radius);
  border: 2px solid var(--color40);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--color10);
  cursor: pointer;
  transition:
    background-color 0.25s linear,
    border-color 0.25s linear;

  &:hover {
    background-color: var(--color20);
    border-color: var(--color40);
  }
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.line-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.horizontal_line {
  width: 100%;
  height: 2px;
  background-color: var(--color50);
  border-radius: 100%;
}
