:root {
  --color-scheme: 0;
  --color00: #040608;
  --color10: #0a1a2a;
  --color20: #1a2a3a;
  --color30: #2a3a4a;
  --color40: #3e4e5e;
  --color50: #586878;
  --color60: #728292;
  --color70: #8d9dad;
  --color80: #a9b9c9;
  --color90: #b4c4e4;
  --color100: #fff;
  --color-accent50: #1c5d80;
  --color-accent60: #2c7da0;
  --color-accent80: #3596c0;

  --link-color: #4c9ce2;
  --link-color-hover: #386989;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: 1;
    --color00: #fff;
    --color10: #f5f5f5;
    --color20: #e0e0e0;
    --color30: #b8b8b8;
    --color40: #999;
    --color50: #7a7a7a;
    --color60: #5c5c5c;
    --color70: #3d3d3d;
    --color80: #292929;
    --color90: #141414;
    --color100: #000;

    --link-color: #386989;
    --link-color-hover: #4c9ce2;
  }
}
