.card {
  padding: 1rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  text-align: center;
  border: var(--border-thickness) solid var(--color30);
  border-radius: var(--border-radius);
}

.card__avatar {
  width: 80%;
  border-radius: 50%;
}

.card__name {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
  }
}
