.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  background: var(--color10);
  color: var(--color100);
  z-index: 1;
}

.footer__logo {
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  border: 2px solid var(--color40);
  transition: opacity 0.25s linear;
}

.github {
  background-image: url(/icons/github-logo.svg);
  filter: invert(var(--color-scheme));
}

.rss {
  background-image: url(/icons/rss-logo.svg);
}

@media (hover: hover) {
  .footer__logo:hover {
    opacity: 0.8;
  }
}
