.header_editor {
  border-radius: var(--border-radius);
  border: 2px solid var(--color40);
  overflow: hidden;
}

.header_editor__title {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

.header_editor__row,
.header_editor__row_disabled {
  position: relative;
  display: grid;
  grid-template-columns: 2rem 1fr 1fr;
  color: var(--color100);
  background-color: var(--color10);
}

.header_editor__row_disabled {
  color: var(--color50);
}

.header_editor__row:not(:last-of-type),
.header_editor__row_disabled:not(:last-of-type) {
  border-bottom: 1px solid var(--color40);
}

.header_editor__item,
.header_editor__add {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem;
}

.header_editor__item:not(:last-of-type) {
  border-right: 1px solid var(--color40);
}

.header_editor__add {
  padding: 0.5rem;
}

.header_editor__item input[type='text'] {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
  color: inherit;
}

.header_editor__item:last-of-type input {
  width: calc(100% - 1.5rem);
}

.header_editor__del {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  height: 1.125rem;
  filter: invert(var(--color-scheme));
}

.header_editor__add {
  cursor: pointer;
  color: var(--color90);
  transition:
    background-color 0.25s linear,
    border-color 0.25s linear;

  &:hover {
    color: var(--color100);
    background-color: var(--color20);
    border-color: var(--color40);
  }
}

.header_editor__toggle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
}
