.backdop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg.svg');
  background-position: bottom;
  background-size: 5rem;
  opacity: 0.1;
  z-index: 0;
}
