.client {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 60rem;
  border-radius: var(--border-radius);
}

.client__title {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

.client__form {
  display: flex;
  gap: 0.4rem;
}

.client__url {
  flex-grow: 1;
  border: 2px solid var(--color50);
  border-radius: var(--border-radius);
  background-color: var(--color10);
  color: var(--color100);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
