.button {
  display: inline-flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  transition: background-color 0.25s linear;
  cursor: pointer;
}

.button input[type='checkbox'] {
  display: none;
}

.button:has(input[type='checkbox']:checked) {
  background-color: var(--color30);
}

.button.copy {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
}

.button.prettify {
  position: absolute;
  right: 4rem;
  top: 0.4rem;
}

.button img {
  width: 1.5em;
  height: 1.5em;
  filter: invert(var(--color-scheme));
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--color40);
  }
}

.copy__msg {
  font-size: 0.75rem;
  background-color: var(--color50);
  text-align: center;
  border-radius: 6px;
  padding: 0.25rem 0.75rem;
  position: absolute;
  z-index: 2;
  left: 0.75rem;
  top: -2rem;
  opacity: 0;
  animation: show 2.5s forwards;
  transform: translateX(-50%);
}
.copy__msg::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color50) transparent transparent;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate(-50%, 1rem);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
  }
}
